<div class="container">
	<p>
  		<strong>Nome do arquivo:</strong>
  		<%= @relatorio.file_name %>
	</p>

	<p>
  		<strong>Data De geração:</strong>
  		<%= @relatorio.created_at%>
	</p>
	
  		<strong>conteudo</strong>
  		<%= @relatorio.conteudo_relatorio%>
	</p>
</div>